In [1]:
pip install scikit-posthocs

Collecting scikit-posthocs
  Downloading scikit_posthocs-0.7.0-py3-none-any.whl (38 kB)
Requirement already satisfied: scipy in c:\users\komal ramesh sapkal\anaconda3\lib\site-packages (from scikit-posthocs) (1.7.1)
Requirement already satisfied: pandas>=0.20.0 in c:\users\komal ramesh sapkal\anaconda3\lib\site-packages (from scikit-posthocs) (1.3.4)
Requirement already satisfied: matplotlib in c:\users\komal ramesh sapkal\anaconda3\lib\site-packages (from scikit-posthocs) (3.4.3)
Requirement already satisfied: numpy in c:\users\komal ramesh sapkal\anaconda3\lib\site-packages (from scikit-posthocs) (1.20.3)
Requirement already satisfied: seaborn in c:\users\komal ramesh sapkal\anaconda3\lib\site-packages (from scikit-posthocs) (0.11.2)
Requirement already satisfied: statsmodels in c:\users\komal ramesh sapkal\anaconda3\lib\site-packages (from scikit-posthocs) (0.12.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\komal ramesh sapkal\anaconda3\lib\site-packages (from pandas>=0.20.0->scikit-posthocs) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\komal ramesh sapkal\anaconda3\lib\site-packages (from pandas>=0.20.0->scikit-posthocs) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\komal ramesh sapkal\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.20.0->scikit-posthocs) (1.16.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\komal ramesh sapkal\anaconda3\lib\site-packages (from matplotlib->scikit-posthocs) (8.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\komal ramesh sapkal\anaconda3\lib\site-packages (from matplotlib->scikit-posthocs) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\komal ramesh sapkal\anaconda3\lib\site-packages (from matplotlib->scikit-posthocs) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\komal ramesh sapkal\anaconda3\lib\site-packages (from matplotlib->scikit-posthocs) (1.3.1)
Requirement already satisfied: patsy>=0.5 in c:\users\komal ramesh sapkal\anaconda3\lib\site-packages (from statsmodels->scikit-posthocs) (0.5.2)
Installing collected packages: scikit-posthocs
Successfully installed scikit-posthocs-0.7.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
from scipy.stats import f_oneway
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [3]:
# Load data into a pandas DataFrame
df = pd.read_csv(r'C:\Users\komal ramesh sapkal\Dropbox\Project\anovarm_data.csv')
df

     Capacity_MW Power_Station   Month  NetGeneration
0            420      Bhusawal  Apr-11        213.363
1            420      Bhusawal  May-11        190.426
2            420      Bhusawal  Jun-11        202.996
3            420      Bhusawal  Jul-11        150.204
4            420      Bhusawal  Aug-11        118.716
..           ...           ...     ...            ...
268         1130         Parli  Feb-15        418.566
269         1130         Parli  Mar-15        406.440
270         1130         Parli  Apr-15        354.556
271         1130         Parli  Jun-15        362.770
272         1130         Parli  Jul-15         48.094

[273 rows x 4 columns]

In [7]:
print(df['Power_Station'].unique())

['Bhusawal' 'Chandrapur' 'Khaperkheda' 'Koradi' 'Nashik' 'Paras' 'Parli']

In [11]:
tukey = pairwise_tukeyhsd(endog=df['NetGeneration'],
                          groups=df['Power_Station'],
                          alpha=0.05)

In [12]:
print(tukey)

        Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================================
   group1      group2    meandiff p-adj    lower     upper   reject
-------------------------------------------------------------------
   Bhusawal  Chandrapur  799.4124  0.001  723.4496  875.3752   True
   Bhusawal Khaperkheda  409.5634  0.001  333.6006  485.5262   True
   Bhusawal      Koradi   61.8935 0.1939  -14.0693  137.8564  False
   Bhusawal      Nashik  180.2642  0.001  104.3014   256.227   True
   Bhusawal       Paras   98.8091 0.0026   22.8463   174.772   True
   Bhusawal       Parli   186.571  0.001  110.6081  262.5338   True
 Chandrapur Khaperkheda  -389.849  0.001 -465.8118 -313.8861   True
 Chandrapur      Koradi -737.5189  0.001 -813.4817  -661.556   True
 Chandrapur      Nashik -619.1482  0.001  -695.111 -543.1854   True
 Chandrapur       Paras -700.6033  0.001 -776.5661 -624.6404   True
 Chandrapur       Parli -612.8414  0.001 -688.8043 -536.8786   True
Khaperkheda      Koradi -347.6699  0.001 -423.6327  -271.707   True
Khaperkheda      Nashik -229.2992  0.001  -305.262 -153.3364   True
Khaperkheda       Paras -310.7543  0.001 -386.7171 -234.7914   True
Khaperkheda       Parli -222.9924  0.001 -298.9553 -147.0296   True
     Koradi      Nashik  118.3707  0.001   42.4078  194.3335   True
     Koradi       Paras   36.9156 0.7501  -39.0472  112.8784  False
     Koradi       Parli  124.6774  0.001   48.7146  200.6403   True
     Nashik       Paras  -81.4551 0.0267 -157.4179   -5.4922   True
     Nashik       Parli    6.3068    0.9  -69.6561   82.2696  False
      Paras       Parli   87.7618 0.0122    11.799  163.7247   True
-------------------------------------------------------------------